# **Objetivo del Cuaderno Jupyter**
- Normalizar las tablas relacionadas con los archivos `Telefonia_movil.xlsx`, `telefonia_fija.xlsx` y `Television.xlsx` del siguiente EDR<br>
<br>
<img src='assets/EDR.png'><br>
<br>

Importando Librerias

In [35]:
import polars as pl

Importando Conexion a Base de Datos

In [36]:
from db.connection import engine_sqlalchemy

***
## **Creando tabla `telefonia_movil`**

Lectura de Datasets necesarios para crear la Tabla

In [37]:
sms = pl.read_excel('datasets_iniciales/telefonia_movil.xlsx', sheet_name='SMS')

llamadas_salientes = pl.read_excel('datasets_iniciales/telefonia_movil.xlsx', sheet_name='Llamadas salientes')

minutos_salientes = pl.read_excel('datasets_iniciales/telefonia_movil.xlsx', sheet_name='Minutos salientes')

ingresos = pl.read_excel('datasets_iniciales/telefonia_movil.xlsx', sheet_name='Ingresos')

penetracion = pl.read_excel('datasets_iniciales/telefonia_movil.xlsx', sheet_name='Penetracion')

accesos = pl.read_excel('datasets_iniciales/telefonia_movil.xlsx', sheet_name='Accesos')

Creemos un `id` y podemos utilizarlo para hacer `join`.

In [38]:
sms = sms.with_columns((pl.col('Año') * 100 + pl.col('Trimestre')).alias('id'))

llamadas_salientes = llamadas_salientes.with_columns((pl.col('Año') * 100 + pl.col('Trimestre')).alias('id'))

minutos_salientes = minutos_salientes.with_columns((pl.col('Año') * 100 + pl.col('Trimestre')).alias('id'))

ingresos = ingresos.with_columns((pl.col('Año') * 100 + pl.col('Trimestre')).alias('id'))

penetracion = penetracion.with_columns((pl.col('Año') * 100 + pl.col('Trimestre')).alias('id'))

accesos = accesos.with_columns((pl.col('Año') * 100 + pl.col('Trimestre')).alias('id'))

In [39]:
sms.head(1)

shape: (1, 5)
┌──────┬───────────┬─────────────────────────┬──────────────┬────────┐
│ Año  ┆ Trimestre ┆ Número de SMS salientes ┆ Periodo      ┆ id     │
│ ---  ┆ ---       ┆ ---                     ┆ ---          ┆ ---    │
│ i64  ┆ i64       ┆ i64                     ┆ str          ┆ i64    │
╞══════╪═══════════╪═════════════════════════╪══════════════╪════════╡
│ 2013 ┆ 1         ┆ 36430004057             ┆ Ene-Mar 2013 ┆ 201301 │
└──────┴───────────┴─────────────────────────┴──────────────┴────────┘

In [6]:
llamadas_salientes.head(1)

shape: (1, 7)
┌──────┬───────────┬──────────────────┬──────────────────┬─────────────────┬──────────────┬────────┐
│ Año  ┆ Trimestre ┆ Llamadas pospago ┆ Llamadas prepago ┆ Total de        ┆ Periodo      ┆ id     │
│ ---  ┆ ---       ┆ salientes (mi…   ┆ salientes (mi…   ┆ llamadas        ┆ ---          ┆ ---    │
│ i64  ┆ i64       ┆ ---              ┆ ---              ┆ salientes (m…   ┆ str          ┆ i64    │
│      ┆           ┆ f64              ┆ f64              ┆ ---             ┆              ┆        │
│      ┆           ┆                  ┆                  ┆ f64             ┆              ┆        │
╞══════╪═══════════╪══════════════════╪══════════════════╪═════════════════╪══════════════╪════════╡
│ 2013 ┆ 1         ┆ 3.796547e6       ┆ 3.412766e6       ┆ 7.209313e6      ┆ Ene-Mar 2013 ┆ 201301 │
└──────┴───────────┴──────────────────┴──────────────────┴─────────────────┴──────────────┴────────┘

In [7]:
minutos_salientes.head(1)

shape: (1, 7)
┌──────┬───────────┬──────────────────┬──────────────────┬─────────────────┬──────────────┬────────┐
│ Año  ┆ Trimestre ┆ Minutos pospago  ┆ Minutos prepago  ┆ Total de        ┆ Periodo      ┆ id     │
│ ---  ┆ ---       ┆ salientes (mil…  ┆ salientes (mil…  ┆ minutos         ┆ ---          ┆ ---    │
│ i64  ┆ i64       ┆ ---              ┆ ---              ┆ salientes (mi…  ┆ str          ┆ i64    │
│      ┆           ┆ f64              ┆ f64              ┆ ---             ┆              ┆        │
│      ┆           ┆                  ┆                  ┆ f64             ┆              ┆        │
╞══════╪═══════════╪══════════════════╪══════════════════╪═════════════════╪══════════════╪════════╡
│ 2013 ┆ 1         ┆ 8.785943e6       ┆ 6.582117e6       ┆ 1.536806e7      ┆ Ene-Mar 2013 ┆ 201301 │
└──────┴───────────┴──────────────────┴──────────────────┴─────────────────┴──────────────┴────────┘

In [8]:
ingresos.head(1)

shape: (1, 5)
┌──────┬───────────┬───────────────────────┬──────────────┬────────┐
│ Año  ┆ Trimestre ┆ Ingresos (miles de $) ┆ Periodo      ┆ id     │
│ ---  ┆ ---       ┆ ---                   ┆ ---          ┆ ---    │
│ i64  ┆ i64       ┆ i64                   ┆ str          ┆ i64    │
╞══════╪═══════════╪═══════════════════════╪══════════════╪════════╡
│ 2013 ┆ 1         ┆ 13135235              ┆ Ene-Mar 2013 ┆ 201301 │
└──────┴───────────┴───────────────────────┴──────────────┴────────┘

In [9]:
penetracion.head(1)

shape: (1, 5)
┌──────┬───────────┬──────────────────────────┬──────────────┬────────┐
│ Año  ┆ Trimestre ┆ Accesos por cada 100 hab ┆ Periodo      ┆ id     │
│ ---  ┆ ---       ┆ ---                      ┆ ---          ┆ ---    │
│ i64  ┆ i64       ┆ f64                      ┆ str          ┆ i64    │
╞══════╪═══════════╪══════════════════════════╪══════════════╪════════╡
│ 2013 ┆ 1         ┆ 154.37                   ┆ Ene-Mar 2013 ┆ 201301 │
└──────┴───────────┴──────────────────────────┴──────────────┴────────┘

In [10]:
accesos.head(1)

shape: (1, 7)
┌──────┬───────────┬─────────────────────┬────────────────────┬────────────┬──────────────┬────────┐
│ Año  ┆ Trimestre ┆ Total de accesos    ┆ Total de accesos   ┆ Total de   ┆ Periodo      ┆ id     │
│ ---  ┆ ---       ┆ pospago             ┆ prepago            ┆ accesos    ┆ ---          ┆ ---    │
│ i64  ┆ i64       ┆ ---                 ┆ ---                ┆ operativos ┆ str          ┆ i64    │
│      ┆           ┆ f64                 ┆ f64                ┆ ---        ┆              ┆        │
│      ┆           ┆                     ┆                    ┆ i64        ┆              ┆        │
╞══════╪═══════════╪═════════════════════╪════════════════════╪════════════╪══════════════╪════════╡
│ 2013 ┆ 1         ┆ 7.761349e6          ┆ 5.7147608e7        ┆ 64908957   ┆ Ene-Mar 2013 ┆ 201301 │
└──────┴───────────┴─────────────────────┴────────────────────┴────────────┴──────────────┴────────┘

Creo a `telefonia_movil` a partir de una de estas tablas, y a partir de allí hago `join` contra las otras

In [40]:
telefonia_movil = llamadas_salientes['id', 'Año','Trimestre', 'Llamadas pospago salientes (miles)',
                                     'Llamadas prepago salientes (miles)' ]


columns = ['id', 'Número de SMS salientes']
telefonia_movil = telefonia_movil.join( sms[columns], on='id', how='left', coalesce=True)

columns = ['id', 'Minutos pospago salientes (miles)', 'Minutos prepago salientes (miles)']
telefonia_movil = telefonia_movil.join( minutos_salientes[columns], on='id', how='left', coalesce=True)

columns = ['id', 'Ingresos (miles de $)' ]
telefonia_movil = telefonia_movil.join( ingresos[columns], on='id', how='left', coalesce=True)

columns = ['id', 'Accesos por cada 100 hab']
telefonia_movil = telefonia_movil.join( penetracion[columns], on='id', how='left', coalesce=True)

columns = ['id', 'Total de accesos pospago', 'Total de accesos prepago']
telefonia_movil = telefonia_movil.join( accesos[columns], on='id', how='left', coalesce=True)

telefonia_movil.head()

shape: (5, 12)
┌────────┬──────┬───────────┬─────────────┬───┬─────────────┬────────────┬────────────┬────────────┐
│ id     ┆ Año  ┆ Trimestre ┆ Llamadas    ┆ … ┆ Ingresos    ┆ Accesos    ┆ Total de   ┆ Total de   │
│ ---    ┆ ---  ┆ ---       ┆ pospago     ┆   ┆ (miles de   ┆ por cada   ┆ accesos    ┆ accesos    │
│ i64    ┆ i64  ┆ i64       ┆ salientes   ┆   ┆ $)          ┆ 100 hab    ┆ pospago    ┆ prepago    │
│        ┆      ┆           ┆ (mi…        ┆   ┆ ---         ┆ ---        ┆ ---        ┆ ---        │
│        ┆      ┆           ┆ ---         ┆   ┆ i64         ┆ f64        ┆ f64        ┆ f64        │
│        ┆      ┆           ┆ f64         ┆   ┆             ┆            ┆            ┆            │
╞════════╪══════╪═══════════╪═════════════╪═══╪═════════════╪════════════╪════════════╪════════════╡
│ 201301 ┆ 2013 ┆ 1         ┆ 3.796547e6  ┆ … ┆ 13135235    ┆ 154.37     ┆ 7.761349e6 ┆ 5.7147608e │
│        ┆      ┆           ┆             ┆   ┆             ┆            ┆            ┆ 7          │
│ 201302 ┆ 2013 ┆ 2         ┆ 4.156872e6  ┆ … ┆ 13970806    ┆ 156.0      ┆ 7.76911e6  ┆ 5.8004822e │
│        ┆      ┆           ┆             ┆   ┆             ┆            ┆            ┆ 7          │
│ 201303 ┆ 2013 ┆ 3         ┆ 4.466727e6  ┆ … ┆ 15235659    ┆ 158.59     ┆ 8.002183e6 ┆ 5.9048909e │
│        ┆      ┆           ┆             ┆   ┆             ┆            ┆            ┆ 7          │
│ 201304 ┆ 2013 ┆ 4         ┆ 4.743791e6  ┆ … ┆ 16218846    ┆ 159.37     ┆ 8.674516e6 ┆ 5.8894516e │
│        ┆      ┆           ┆             ┆   ┆             ┆            ┆            ┆ 7          │
│ 201401 ┆ 2014 ┆ 1         ┆ 4.001399e6  ┆ … ┆ 15938353    ┆ 148.07     ┆ 8.224482e6 ┆ 5.4725089e │
│        ┆      ┆           ┆             ┆   ┆             ┆            ┆            ┆ 7          │
└────────┴──────┴───────────┴─────────────┴───┴─────────────┴────────────┴────────────┴────────────┘

Cambio el nombre de las Columnas y ya estaría lista esta tabla

In [41]:
columns = ['id', 'anio', 'trimestre', 'llamadas_post_miles', 'llamadas_pre_miles', 'sms_salientes',
           'minutos_post_miles', 'minutos_pre_miles', 'ingresos_miles', 'accesos_100_hab',
           'total_accesos_post', 'total_accesos_pre']

telefonia_movil.columns = columns

telefonia_movil.head()

shape: (5, 12)
┌────────┬──────┬───────────┬─────────────┬───┬─────────────┬────────────┬────────────┬────────────┐
│ id     ┆ anio ┆ trimestre ┆ llamadas_po ┆ … ┆ ingresos_mi ┆ accesos_10 ┆ total_acce ┆ total_acce │
│ ---    ┆ ---  ┆ ---       ┆ st_miles    ┆   ┆ les         ┆ 0_hab      ┆ sos_post   ┆ sos_pre    │
│ i64    ┆ i64  ┆ i64       ┆ ---         ┆   ┆ ---         ┆ ---        ┆ ---        ┆ ---        │
│        ┆      ┆           ┆ f64         ┆   ┆ i64         ┆ f64        ┆ f64        ┆ f64        │
╞════════╪══════╪═══════════╪═════════════╪═══╪═════════════╪════════════╪════════════╪════════════╡
│ 201301 ┆ 2013 ┆ 1         ┆ 3.796547e6  ┆ … ┆ 13135235    ┆ 154.37     ┆ 7.761349e6 ┆ 5.7147608e │
│        ┆      ┆           ┆             ┆   ┆             ┆            ┆            ┆ 7          │
│ 201302 ┆ 2013 ┆ 2         ┆ 4.156872e6  ┆ … ┆ 13970806    ┆ 156.0      ┆ 7.76911e6  ┆ 5.8004822e │
│        ┆      ┆           ┆             ┆   ┆             ┆            ┆            ┆ 7          │
│ 201303 ┆ 2013 ┆ 3         ┆ 4.466727e6  ┆ … ┆ 15235659    ┆ 158.59     ┆ 8.002183e6 ┆ 5.9048909e │
│        ┆      ┆           ┆             ┆   ┆             ┆            ┆            ┆ 7          │
│ 201304 ┆ 2013 ┆ 4         ┆ 4.743791e6  ┆ … ┆ 16218846    ┆ 159.37     ┆ 8.674516e6 ┆ 5.8894516e │
│        ┆      ┆           ┆             ┆   ┆             ┆            ┆            ┆ 7          │
│ 201401 ┆ 2014 ┆ 1         ┆ 4.001399e6  ┆ … ┆ 15938353    ┆ 148.07     ┆ 8.224482e6 ┆ 5.4725089e │
│        ┆      ┆           ┆             ┆   ┆             ┆            ┆            ┆ 7          │
└────────┴──────┴───────────┴─────────────┴───┴─────────────┴────────────┴────────────┴────────────┘

Verifico Nulos antes de Continuar

In [42]:
for column in telefonia_movil.columns:
    print(f'Columna --> {column}')
    print(f'Cantidad de Nulos --> {telefonia_movil[column].is_null().sum()}')
    print('*'*50)

Columna --> id
Cantidad de Nulos --> 0
**************************************************
Columna --> anio
Cantidad de Nulos --> 0
**************************************************
Columna --> trimestre
Cantidad de Nulos --> 0
**************************************************
Columna --> llamadas_post_miles
Cantidad de Nulos --> 0
**************************************************
Columna --> llamadas_pre_miles
Cantidad de Nulos --> 0
**************************************************
Columna --> sms_salientes
Cantidad de Nulos --> 0
**************************************************
Columna --> minutos_post_miles
Cantidad de Nulos --> 0
**************************************************
Columna --> minutos_pre_miles
Cantidad de Nulos --> 0
**************************************************
Columna --> ingresos_miles
Cantidad de Nulos --> 0
**************************************************
Columna --> accesos_100_hab
Cantidad de Nulos --> 0
**************************************************
Columna --> total_accesos_post
Cantidad de Nulos --> 0
**************************************************
Columna --> total_accesos_pre
Cantidad de Nulos --> 0
**************************************************

In [43]:
del sms
del llamadas_salientes
del minutos_salientes
del ingresos
del penetracion
del accesos

***
## **Creando tabla `telefonia_fija`**

Lectura de Datasets necesarios para crear la Tabla

In [44]:
accesos_totales = pl.read_excel('datasets_iniciales/telefonia_fija.xlsx', sheet_name='Fija_accesos_tot')

penetracion = pl.read_excel('datasets_iniciales/telefonia_fija.xlsx', sheet_name='Fija_penetracion_tot')

ingresos = pl.read_excel('datasets_iniciales/telefonia_fija.xlsx', sheet_name='Fija_ingresos')

Creemos un `id` y podemos utilizarlo para hacer `join`.

In [45]:
accesos_totales = accesos_totales.with_columns((pl.col('Año') * 100 + pl.col('Trimestre')).alias('id'))

penetracion = penetracion.with_columns((pl.col('Año') * 100 + pl.col('Trimestre')).alias('id'))

ingresos = ingresos.with_columns((pl.col('Año') * 100 + pl.col('Trimestre')).alias('id'))

In [46]:
accesos_totales.head(1)

shape: (1, 9)
┌──────┬───────────┬─────────────┬─────────────┬───┬────────────┬────────────┬────────────┬────────┐
│ Año  ┆ Trimestre ┆ Accesos     ┆ Accesos     ┆ … ┆ Accesos    ┆ Accesos    ┆  Periodo   ┆ id     │
│ ---  ┆ ---       ┆ telefonía   ┆ telefonía   ┆   ┆ telefonía  ┆ telefonía  ┆ ---        ┆ ---    │
│ i64  ┆ i64       ┆ fija        ┆ fija        ┆   ┆ fija       ┆ fija       ┆ str        ┆ i64    │
│      ┆           ┆ (total)     ┆ (hogare…    ┆   ┆ (gobier…   ┆ (otros)    ┆            ┆        │
│      ┆           ┆ ---         ┆ ---         ┆   ┆ ---        ┆ ---        ┆            ┆        │
│      ┆           ┆ i64         ┆ i64         ┆   ┆ i64        ┆ i64        ┆            ┆        │
╞══════╪═══════════╪═════════════╪═════════════╪═══╪════════════╪════════════╪════════════╪════════╡
│ 2014 ┆ 1         ┆ 9562231     ┆ 7897980     ┆ … ┆ 30917      ┆ 567500     ┆ Ene-Mar    ┆ 201401 │
│      ┆           ┆             ┆             ┆   ┆            ┆            ┆ 2014       ┆        │
└──────┴───────────┴─────────────┴─────────────┴───┴────────────┴────────────┴────────────┴────────┘

In [18]:
penetracion.head(1)

shape: (1, 5)
┌──────┬───────────┬─────────────────────────────────┬─────────────────────────────────┬────────┐
│ Año  ┆ Trimestre ┆ Accesos telefonía fija por cad… ┆ Accesos telefonía fija por cad… ┆ id     │
│ ---  ┆ ---       ┆ ---                             ┆ ---                             ┆ ---    │
│ i64  ┆ i64       ┆ f64                             ┆ f64                             ┆ i64    │
╞══════╪═══════════╪═════════════════════════════════╪═════════════════════════════════╪════════╡
│ 2024 ┆ 1         ┆ 14.719928                       ┆ 46.848116                       ┆ 202401 │
└──────┴───────────┴─────────────────────────────────┴─────────────────────────────────┴────────┘

In [19]:
ingresos.head(1)

shape: (1, 4)
┌──────┬───────────┬───────────────────────┬────────┐
│ Año  ┆ Trimestre ┆ Ingresos (miles de $) ┆ id     │
│ ---  ┆ ---       ┆ ---                   ┆ ---    │
│ i64  ┆ i64       ┆ f64                   ┆ i64    │
╞══════╪═══════════╪═══════════════════════╪════════╡
│ 2014 ┆ 1         ┆ 2.9161e6              ┆ 201401 │
└──────┴───────────┴───────────────────────┴────────┘

Creo a `telefonia_fija` a partir de una de estas tablas, y a partir de allí hago `join` contra las otras

In [47]:
columns = ['id', 'Año', 'Trimestre', 'Accesos telefonía fija (hogares)', 'Accesos telefonía fija (comercial)',
           'Accesos telefonía fija (gobierno)', 'Accesos telefonía fija (otros)']
telefonia_fija = accesos_totales[columns]

columns = ['id', 'Accesos telefonía fija por cada 100 hab', 'Accesos telefonía fija por cada 100 hogares']
telefonia_fija = telefonia_fija.join(
    penetracion[columns], on='id', how='left', coalesce=True
)

columns = ['id', 'Ingresos (miles de $)']
telefonia_fija = telefonia_fija.join(
    ingresos[columns], on='id', how='left', coalesce=True
)

telefonia_fija.head()

shape: (5, 10)
┌────────┬──────┬───────────┬─────────────┬───┬─────────────┬────────────┬────────────┬────────────┐
│ id     ┆ Año  ┆ Trimestre ┆ Accesos     ┆ … ┆ Accesos     ┆ Accesos    ┆ Accesos    ┆ Ingresos   │
│ ---    ┆ ---  ┆ ---       ┆ telefonía   ┆   ┆ telefonía   ┆ telefonía  ┆ telefonía  ┆ (miles de  │
│ i64    ┆ i64  ┆ i64       ┆ fija        ┆   ┆ fija        ┆ fija por   ┆ fija por   ┆ $)         │
│        ┆      ┆           ┆ (hogare…    ┆   ┆ (otros)     ┆ cad…       ┆ cad…       ┆ ---        │
│        ┆      ┆           ┆ ---         ┆   ┆ ---         ┆ ---        ┆ ---        ┆ f64        │
│        ┆      ┆           ┆ i64         ┆   ┆ i64         ┆ f64        ┆ f64        ┆            │
╞════════╪══════╪═══════════╪═════════════╪═══╪═════════════╪════════════╪════════════╪════════════╡
│ 201401 ┆ 2014 ┆ 1         ┆ 7897980     ┆ … ┆ 567500      ┆ 22.49197   ┆ 74.044895  ┆ 2.9161e6   │
│ 201402 ┆ 2014 ┆ 2         ┆ 7872511     ┆ … ┆ 572106      ┆ 22.399379  ┆ 73.652844  ┆ 2.9749e6   │
│ 201403 ┆ 2014 ┆ 3         ┆ 7924613     ┆ … ┆ 564485      ┆ 22.489194  ┆ 73.860769  ┆ 3.1055e6   │
│ 201404 ┆ 2014 ┆ 4         ┆ 7989623     ┆ … ┆ 560488      ┆ 22.606757  ┆ 74.157887  ┆ 3.3397e6   │
│ 201501 ┆ 2015 ┆ 1         ┆ 8358053     ┆ … ┆ 556853      ┆ 23.468438  ┆ 76.891529  ┆ 3.2601e6   │
└────────┴──────┴───────────┴─────────────┴───┴─────────────┴────────────┴────────────┴────────────┘

Cambio el nombre de las Columnas y ya estaría lista esta tabla

In [48]:
columns = ['id', 'anio', 'trimestre', 'accesos_hogares', 'accesos_comercial', 'accesos_gobierno',
           'accesos_otros', 'accesos_100_hab', 'accesos_100_hog', 'ingresos_miles']

telefonia_fija.columns = columns

telefonia_fija.head()

shape: (5, 10)
┌────────┬──────┬───────────┬─────────────┬───┬─────────────┬────────────┬────────────┬────────────┐
│ id     ┆ anio ┆ trimestre ┆ accesos_hog ┆ … ┆ accesos_otr ┆ accesos_10 ┆ accesos_10 ┆ ingresos_m │
│ ---    ┆ ---  ┆ ---       ┆ ares        ┆   ┆ os          ┆ 0_hab      ┆ 0_hog      ┆ iles       │
│ i64    ┆ i64  ┆ i64       ┆ ---         ┆   ┆ ---         ┆ ---        ┆ ---        ┆ ---        │
│        ┆      ┆           ┆ i64         ┆   ┆ i64         ┆ f64        ┆ f64        ┆ f64        │
╞════════╪══════╪═══════════╪═════════════╪═══╪═════════════╪════════════╪════════════╪════════════╡
│ 201401 ┆ 2014 ┆ 1         ┆ 7897980     ┆ … ┆ 567500      ┆ 22.49197   ┆ 74.044895  ┆ 2.9161e6   │
│ 201402 ┆ 2014 ┆ 2         ┆ 7872511     ┆ … ┆ 572106      ┆ 22.399379  ┆ 73.652844  ┆ 2.9749e6   │
│ 201403 ┆ 2014 ┆ 3         ┆ 7924613     ┆ … ┆ 564485      ┆ 22.489194  ┆ 73.860769  ┆ 3.1055e6   │
│ 201404 ┆ 2014 ┆ 4         ┆ 7989623     ┆ … ┆ 560488      ┆ 22.606757  ┆ 74.157887  ┆ 3.3397e6   │
│ 201501 ┆ 2015 ┆ 1         ┆ 8358053     ┆ … ┆ 556853      ┆ 23.468438  ┆ 76.891529  ┆ 3.2601e6   │
└────────┴──────┴───────────┴─────────────┴───┴─────────────┴────────────┴────────────┴────────────┘

Verifico Nulos Antes de continuar

In [49]:
for column in telefonia_fija.columns:
    print(f'Columna --> {column}')
    print(f'Cantidad de Nulos --> {telefonia_fija[column].is_null().sum()}')
    print('*'*50)

Columna --> id
Cantidad de Nulos --> 0
**************************************************
Columna --> anio
Cantidad de Nulos --> 0
**************************************************
Columna --> trimestre
Cantidad de Nulos --> 0
**************************************************
Columna --> accesos_hogares
Cantidad de Nulos --> 0
**************************************************
Columna --> accesos_comercial
Cantidad de Nulos --> 0
**************************************************
Columna --> accesos_gobierno
Cantidad de Nulos --> 0
**************************************************
Columna --> accesos_otros
Cantidad de Nulos --> 0
**************************************************
Columna --> accesos_100_hab
Cantidad de Nulos --> 0
**************************************************
Columna --> accesos_100_hog
Cantidad de Nulos --> 0
**************************************************
Columna --> ingresos_miles
Cantidad de Nulos --> 0
**************************************************

In [50]:
del penetracion
del accesos_totales
del ingresos

***
## **Creando tabla `television`**

Lectura de Datasets necesarios para crear la Tabla

In [51]:
accesos = pl.read_excel('datasets_iniciales/Television.xlsx', sheet_name='Accesos_totales_TV')

penetracion = pl.read_excel('datasets_iniciales/Television.xlsx', sheet_name='Penetracion_totales_TV')

ingresos = pl.read_excel('datasets_iniciales/Television.xlsx', sheet_name='Ingresos_TV')

Creemos un `id` y podemos utilizarlo para hacer `join`.

In [52]:
accesos = accesos.with_columns((pl.col('Año') * 100 + pl.col('Trimestre')).alias('id'))

penetracion = penetracion.with_columns((pl.col('Año') * 100 + pl.col('Trimestre')).alias('id'))

ingresos = ingresos.with_columns((pl.col('Año') * 100 + pl.col('Trimestre')).alias('id'))

In [53]:
accesos.head(1)

shape: (1, 6)
┌──────┬───────────┬────────────────────────────┬──────────────────────┬──────────────┬────────┐
│ Año  ┆ Trimestre ┆ Accesos TV por suscripción ┆ Accesos TV satelital ┆  Periodo     ┆ id     │
│ ---  ┆ ---       ┆ ---                        ┆ ---                  ┆ ---          ┆ ---    │
│ i64  ┆ i64       ┆ i64                        ┆ i64                  ┆ str          ┆ i64    │
╞══════╪═══════════╪════════════════════════════╪══════════════════════╪══════════════╪════════╡
│ 2024 ┆ 1         ┆ 7601499                    ┆ 1445205              ┆ Ene-Mar 2024 ┆ 202401 │
└──────┴───────────┴────────────────────────────┴──────────────────────┴──────────────┴────────┘

In [54]:
penetracion.head(1)

shape: (1, 7)
┌──────┬───────────┬─────────────────┬─────────────────┬─────────────────┬────────────────┬────────┐
│ Año  ┆ Trimestre ┆ Accesos TV por  ┆ Accesos TV      ┆ Accesos TV por  ┆ Accesos TV     ┆ id     │
│ ---  ┆ ---       ┆ suscripción     ┆ satelital por   ┆ suscripción     ┆ satelital por  ┆ ---    │
│ i64  ┆ i64       ┆ por…            ┆ cada …          ┆ por…            ┆ cada …         ┆ i64    │
│      ┆           ┆ ---             ┆ ---             ┆ ---             ┆ ---            ┆        │
│      ┆           ┆ f64             ┆ f64             ┆ f64             ┆ f64            ┆        │
╞══════╪═══════════╪═════════════════╪═════════════════╪═════════════════╪════════════════╪════════╡
│ 2024 ┆ 1         ┆ 16.2            ┆ 3.08            ┆ 51.55           ┆ 9.8            ┆ 202401 │
└──────┴───────────┴─────────────────┴─────────────────┴─────────────────┴────────────────┴────────┘

In [55]:
ingresos.head(1)

shape: (1, 5)
┌──────┬───────────┬─────────────────────────────────┬─────────────────────────────────┬────────┐
│ Año  ┆ Trimestre ┆ Ingresos TV por suscripción  (… ┆ Ingresos TV satelital (miles d… ┆ id     │
│ ---  ┆ ---       ┆ ---                             ┆ ---                             ┆ ---    │
│ i64  ┆ i64       ┆ f64                             ┆ f64                             ┆ i64    │
╞══════╪═══════════╪═════════════════════════════════╪═════════════════════════════════╪════════╡
│ 2024 ┆ 1         ┆ 1.9079e8                        ┆ 9.4271e7                        ┆ 202401 │
└──────┴───────────┴─────────────────────────────────┴─────────────────────────────────┴────────┘

Creo a `television` a partir de una de estas tablas, y a partir de allí hago `join` contra las otras

In [56]:
columns = ['id', 'Año', 'Trimestre', 'Accesos TV por suscripción por cada 100 hab', 'Accesos TV satelital por cada 100 hab',
           'Accesos TV por suscripción por cada 100 hogares', 'Accesos TV satelital por cada 100 hogares']
television = penetracion[columns]

columns = ['id', 'Accesos TV por suscripción', 'Accesos TV satelital']
television = television.join(
    accesos[columns], on='id', how='left', coalesce=True
)

columns = ['id', 'Ingresos TV por suscripción  (miles de $)', 'Ingresos TV satelital (miles de $)']
television = television.join(
    ingresos[columns], on='id', how='left', coalesce=True
)

television.head()

shape: (5, 11)
┌────────┬──────┬───────────┬─────────────┬───┬─────────────┬────────────┬────────────┬────────────┐
│ id     ┆ Año  ┆ Trimestre ┆ Accesos TV  ┆ … ┆ Accesos TV  ┆ Accesos TV ┆ Ingresos   ┆ Ingresos   │
│ ---    ┆ ---  ┆ ---       ┆ por         ┆   ┆ por         ┆ satelital  ┆ TV por sus ┆ TV         │
│ i64    ┆ i64  ┆ i64       ┆ suscripción ┆   ┆ suscripción ┆ ---        ┆ cripción   ┆ satelital  │
│        ┆      ┆           ┆ por…        ┆   ┆ ---         ┆ i64        ┆ (…         ┆ (miles d…  │
│        ┆      ┆           ┆ ---         ┆   ┆ i64         ┆            ┆ ---        ┆ ---        │
│        ┆      ┆           ┆ f64         ┆   ┆             ┆            ┆ f64        ┆ f64        │
╞════════╪══════╪═══════════╪═════════════╪═══╪═════════════╪════════════╪════════════╪════════════╡
│ 202401 ┆ 2024 ┆ 1         ┆ 16.2        ┆ … ┆ 7601499     ┆ 1445205    ┆ 1.9079e8   ┆ 9.4271e7   │
│ 202304 ┆ 2023 ┆ 4         ┆ 16.34       ┆ … ┆ 7650809     ┆ 1508789    ┆ 1.3358e8   ┆ 6.4749e7   │
│ 202303 ┆ 2023 ┆ 3         ┆ 16.57       ┆ … ┆ 7743735     ┆ 1683205    ┆ 1.0374e8   ┆ 5.1179e7   │
│ 202302 ┆ 2023 ┆ 2         ┆ 17.32       ┆ … ┆ 8076400     ┆ 1735655    ┆ 8.7015e7   ┆ 3.8625e7   │
│ 202301 ┆ 2023 ┆ 1         ┆ 16.71       ┆ … ┆ 7770412     ┆ 1766221    ┆ 7.4739e7   ┆ 3.3431e7   │
└────────┴──────┴───────────┴─────────────┴───┴─────────────┴────────────┴────────────┴────────────┘

Cambio el nombre de las Columnas

In [57]:
columns = ['id', 'anio', 'trimestre', 'accesos_susc_100_hab', 'accesos_sate_100_hab', 'accesos_susc_100_hog',
           'accesos_sate_100_hog', 'accesos_tot_suscripcion', 'accesos_tot_satelital', 'ingresos_suscripcion_miles',
            'ingresos_satelital_miles' ]
television.columns = columns

television.head()

shape: (5, 11)
┌────────┬──────┬───────────┬─────────────┬───┬─────────────┬────────────┬────────────┬────────────┐
│ id     ┆ anio ┆ trimestre ┆ accesos_sus ┆ … ┆ accesos_tot ┆ accesos_to ┆ ingresos_s ┆ ingresos_s │
│ ---    ┆ ---  ┆ ---       ┆ c_100_hab   ┆   ┆ _suscripcio ┆ t_satelita ┆ uscripcion ┆ atelital_m │
│ i64    ┆ i64  ┆ i64       ┆ ---         ┆   ┆ n           ┆ l          ┆ _miles     ┆ iles       │
│        ┆      ┆           ┆ f64         ┆   ┆ ---         ┆ ---        ┆ ---        ┆ ---        │
│        ┆      ┆           ┆             ┆   ┆ i64         ┆ i64        ┆ f64        ┆ f64        │
╞════════╪══════╪═══════════╪═════════════╪═══╪═════════════╪════════════╪════════════╪════════════╡
│ 202401 ┆ 2024 ┆ 1         ┆ 16.2        ┆ … ┆ 7601499     ┆ 1445205    ┆ 1.9079e8   ┆ 9.4271e7   │
│ 202304 ┆ 2023 ┆ 4         ┆ 16.34       ┆ … ┆ 7650809     ┆ 1508789    ┆ 1.3358e8   ┆ 6.4749e7   │
│ 202303 ┆ 2023 ┆ 3         ┆ 16.57       ┆ … ┆ 7743735     ┆ 1683205    ┆ 1.0374e8   ┆ 5.1179e7   │
│ 202302 ┆ 2023 ┆ 2         ┆ 17.32       ┆ … ┆ 8076400     ┆ 1735655    ┆ 8.7015e7   ┆ 3.8625e7   │
│ 202301 ┆ 2023 ┆ 1         ┆ 16.71       ┆ … ┆ 7770412     ┆ 1766221    ┆ 7.4739e7   ┆ 3.3431e7   │
└────────┴──────┴───────────┴─────────────┴───┴─────────────┴────────────┴────────────┴────────────┘

In [58]:
min_year = television['anio'].min()
mask = television['anio'] == min_year

television.filter(mask)

shape: (4, 11)
┌────────┬──────┬───────────┬─────────────┬───┬─────────────┬────────────┬────────────┬────────────┐
│ id     ┆ anio ┆ trimestre ┆ accesos_sus ┆ … ┆ accesos_tot ┆ accesos_to ┆ ingresos_s ┆ ingresos_s │
│ ---    ┆ ---  ┆ ---       ┆ c_100_hab   ┆   ┆ _suscripcio ┆ t_satelita ┆ uscripcion ┆ atelital_m │
│ i64    ┆ i64  ┆ i64       ┆ ---         ┆   ┆ n           ┆ l          ┆ _miles     ┆ iles       │
│        ┆      ┆           ┆ f64         ┆   ┆ ---         ┆ ---        ┆ ---        ┆ ---        │
│        ┆      ┆           ┆             ┆   ┆ i64         ┆ i64        ┆ f64        ┆ f64        │
╞════════╪══════╪═══════════╪═════════════╪═══╪═════════════╪════════════╪════════════╪════════════╡
│ 201404 ┆ 2014 ┆ 4         ┆ 15.181907   ┆ … ┆ 6478044     ┆ 2466184    ┆ 4.7120e6   ┆ 2.6861e6   │
│ 201403 ┆ 2014 ┆ 3         ┆ 15.11582    ┆ … ┆ 6449845     ┆ 2450098    ┆ 4.4230e6   ┆ 2.5308e6   │
│ 201402 ┆ 2014 ┆ 2         ┆ 15.089284   ┆ … ┆ 6438522     ┆ 2546820    ┆ 4.0537e6   ┆ 2.3417e6   │
│ 201401 ┆ 2014 ┆ 1         ┆ 12.736339   ┆ … ┆ null        ┆ null       ┆ 3.5995e6   ┆ 2.0012e6   │
└────────┴──────┴───────────┴─────────────┴───┴─────────────┴────────────┴────────────┴────────────┘

El dataset `accesos` dentro del archivo de excel television.xslx no tenía información para el trimestre 1 del año 2014, por eso al hacer `join` con otros datasets que si tenían datos en ese periodo se genero un null.  Voy a pasar esas dos celdas `null` a `cero 0`, para no perder el resto de la información de la fila.

In [59]:
television = television.with_columns([
    pl.col('accesos_tot_suscripcion').fill_null(0),
    pl.col('accesos_tot_satelital').fill_null(0)
])

television

shape: (41, 11)
┌────────┬──────┬───────────┬─────────────┬───┬─────────────┬────────────┬────────────┬────────────┐
│ id     ┆ anio ┆ trimestre ┆ accesos_sus ┆ … ┆ accesos_tot ┆ accesos_to ┆ ingresos_s ┆ ingresos_s │
│ ---    ┆ ---  ┆ ---       ┆ c_100_hab   ┆   ┆ _suscripcio ┆ t_satelita ┆ uscripcion ┆ atelital_m │
│ i64    ┆ i64  ┆ i64       ┆ ---         ┆   ┆ n           ┆ l          ┆ _miles     ┆ iles       │
│        ┆      ┆           ┆ f64         ┆   ┆ ---         ┆ ---        ┆ ---        ┆ ---        │
│        ┆      ┆           ┆             ┆   ┆ i64         ┆ i64        ┆ f64        ┆ f64        │
╞════════╪══════╪═══════════╪═════════════╪═══╪═════════════╪════════════╪════════════╪════════════╡
│ 202401 ┆ 2024 ┆ 1         ┆ 16.2        ┆ … ┆ 7601499     ┆ 1445205    ┆ 1.9079e8   ┆ 9.4271e7   │
│ 202304 ┆ 2023 ┆ 4         ┆ 16.34       ┆ … ┆ 7650809     ┆ 1508789    ┆ 1.3358e8   ┆ 6.4749e7   │
│ 202303 ┆ 2023 ┆ 3         ┆ 16.57       ┆ … ┆ 7743735     ┆ 1683205    ┆ 1.0374e8   ┆ 5.1179e7   │
│ 202302 ┆ 2023 ┆ 2         ┆ 17.32       ┆ … ┆ 8076400     ┆ 1735655    ┆ 8.7015e7   ┆ 3.8625e7   │
│ 202301 ┆ 2023 ┆ 1         ┆ 16.71       ┆ … ┆ 7770412     ┆ 1766221    ┆ 7.4739e7   ┆ 3.3431e7   │
│ …      ┆ …    ┆ …         ┆ …           ┆ … ┆ …           ┆ …          ┆ …          ┆ …          │
│ 201501 ┆ 2015 ┆ 1         ┆ 14.860218   ┆ … ┆ 6409504     ┆ 2495326    ┆ 5.2921e6   ┆ 3.0218e6   │
│ 201404 ┆ 2014 ┆ 4         ┆ 15.181907   ┆ … ┆ 6478044     ┆ 2466184    ┆ 4.7120e6   ┆ 2.6861e6   │
│ 201403 ┆ 2014 ┆ 3         ┆ 15.11582    ┆ … ┆ 6449845     ┆ 2450098    ┆ 4.4230e6   ┆ 2.5308e6   │
│ 201402 ┆ 2014 ┆ 2         ┆ 15.089284   ┆ … ┆ 6438522     ┆ 2546820    ┆ 4.0537e6   ┆ 2.3417e6   │
│ 201401 ┆ 2014 ┆ 1         ┆ 12.736339   ┆ … ┆ 0           ┆ 0          ┆ 3.5995e6   ┆ 2.0012e6   │
└────────┴──────┴───────────┴─────────────┴───┴─────────────┴────────────┴────────────┴────────────┘

Verifico Nulos antes de Continuar

In [60]:
for column in television.columns:
    print(f'Columna --> {column}')
    print(f'Cantidad de Nulos --> {television[column].is_null().sum()}')
    print('*'*50)

Columna --> id
Cantidad de Nulos --> 0
**************************************************
Columna --> anio
Cantidad de Nulos --> 0
**************************************************
Columna --> trimestre
Cantidad de Nulos --> 0
**************************************************
Columna --> accesos_susc_100_hab
Cantidad de Nulos --> 0
**************************************************
Columna --> accesos_sate_100_hab
Cantidad de Nulos --> 0
**************************************************
Columna --> accesos_susc_100_hog
Cantidad de Nulos --> 0
**************************************************
Columna --> accesos_sate_100_hog
Cantidad de Nulos --> 0
**************************************************
Columna --> accesos_tot_suscripcion
Cantidad de Nulos --> 0
**************************************************
Columna --> accesos_tot_satelital
Cantidad de Nulos --> 0
**************************************************
Columna --> ingresos_suscripcion_miles
Cantidad de Nulos --> 0
**************************************************
Columna --> ingresos_satelital_miles
Cantidad de Nulos --> 0
**************************************************

***
Guardado de tablas  `telefonia_movil`, `telefonia_fija` y `television`

In [61]:
telefonia_movil.write_parquet('tablas/telefonia_movil.parquet')

telefonia_fija.write_parquet('tablas/telefonia_fija.parquet')

television.write_parquet('tablas/television.parquet')

***
#### **Toca alimentar nuestra Base de Datos Mysql**

Creando la Conexión

In [62]:
engine = engine_sqlalchemy()

Uno a uno se pasa cada Dataframe a un df de Pandas y luego se vacia en su respectiva tabla `mysql`.

In [63]:
df_pandas = telefonia_movil.to_pandas()
df_pandas.to_sql(name="telefonia_movil", con=engine, index=False, if_exists="append")

df_pandas = telefonia_fija.to_pandas()
df_pandas.to_sql(name="telefonia_fija", con=engine, index=False, if_exists="append")

df_pandas = television.to_pandas()
df_pandas.to_sql(name="television", con=engine, index=False, if_exists="append")

41